html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-div-index {
    background-color: #134980;
    width: 60vh;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower-div-index {
    display: flex;
    gap: 1vh;

}

.username-index, .password-index, .login-index, .register-index {
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 0;
}

.username-index, .password-index {
    width: 20vh;
    height: 5vh;
}

.password-index {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.login-index, .register-index {
    width: 9.5vh;
    height: 4vh;
    color: white;
    font-size: 24px;
}

.login-index, .register-index:hover {
    cursor: pointer;
}




input {
    color: white;
    font-size: 26px;
    text-align: center;
}

input:focus {
    outline: none;
}